.root {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 45px;
}

@media screen and (max-width: 720px) {
  .root {
    padding: 28px 0 36px;
  }
}